backend/node_modules

backend/.env
backend/.env.local
backend/.env.dev
backend/.env.dev2
backend/src/config/config.json
backend/Payment-java-api/.idea

node_modules

.env
.env.local
.env.dev
.env.dev2

websockets/.env
websockets/.env.local
websockets/.env.dev
websockets/.env.dev2
websockets/src/config/config.json
websockets/node_modules

database/config/config.json